extends layout/layout

block head
	- var title = "bensizalma.com | 404";
	- var description = "404";
	- var keywords = "404";

block content
	section.centerfix.page404
		h1 404
		h2 Aradığınız sayfa bulunamadı.
		a.button.button-primary(href="/") Anasayfa
