extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.fix-request-button
		.container
			.row
				.col-6
					h1.title.title--1.centerfix Ford Fiesta
					.price.centerfix 60.000₺
				.col-6
					a.button.button-normal.button-blue.button-big-text.send-request(href="#") Talep Oluştur

	section.centerfix.content.car-detail
		.container
			.image-gallery.flexslider.no-direction
				ul.slides
					-for (var i = 0; i < 5; i++)
						li
							img(src="http://via.placeholder.com/550x380")

			.product-info
				h1.title.title--1 Ford Fiesta
				.price 60.000₺

				.color-title.title.title--4 Renk Seçenekleri
				ul.color-list
					li(style="background-color: #fff", data-key="1")
						span Portakal turuncu Özel ST Metalik Boya
					li(style="background-color: #C21E15")
						span Portakal turuncu Özel ST Metalik Boya
					li(style="background-color: #0B0B0A")
						span Portakal turuncu Özel ST Metalik Boya
					li(style="background-color: #D72B11")
						span Portakal turuncu Özel ST Metalik Boya
					li(style="background-color: #2C57A1")
						span Portakal turuncu Özel ST Metalik Boya

				span.manshet Talep oluşturun, <br />fırsatlı teklifler alın!
				a.send-request.button.button-primary#send-request Talep Oluştur

			.product-description.centerfix
				h3.title.title--1 Seçenekler

				ul.spec-list.centefix
					li.head
						.cols &nbsp;
						.cols Motor Tipi
						.cols Motor Gücü
						.cols Şansıman
						.cols Donanım
						.cols Tavsiye Edilen Fiyat
					li
						.cols.bold Benzin
					-for (var i = 0; i < 9; i++)
						li
							.cols
								.checkbox
									input(type="radio", name="slug" value=i)
									span
							.cols 1,1 LT
							.cols 85 PS
							.cols 5 İleri Manual
							.cols Trend
							.cols.bold 64.500₺
					li
						.cols.bold Dizel
					-for (var i = 10; i < 19; i++)
						li
							.cols
								label.checkbox
									input(type="radio", name="slug" value=i)
									span
							.cols 1,1 LT
							.cols 85 PS
							.cols 5 İleri Manual
							.cols Trend
							.cols.bold 64.500₺

	<!-- Kalan kullanım hakkı popup -->
	.hidden
		.modal#talep-basarili
			.centerfix
				img.margin-bottom-20(src=prefix+"img/svg/ico_tick.svg")

				p Talebiniz başarıyla oluşturuldu.
				p.margin-bottom-20 Kalan talep hakkınız: <b>2</b>
				.row
					.col-6
						a.button.button-normal.button-blue.button-big-text.button-block(href="#") Anasayfa
					.col-6
						a.button.button-normal.button-blue.button-big-text.button-block(href="#") Taleplerim

	<!-- Login redirect popup -->
	.hidden
		.modal#giris-redirect
			.centerfix
				img.margin-bottom-20(src=prefix+"img/svg/ico_info.svg")

				p.margin-bottom-20 Talep oluşturmak ve talebinizi takip etmek için giriş yapmalısınız.
				.row
					.col-6
						a.button.button-normal.button-blue.button-big-text.button-block(href="#giris-yap") Giriş Yap
					.col-6
						a.button.button-normal.button-blue.button-big-text.button-block(href="#kayit-ol") Kaydol

	<!-- Talep oluştur popup -->
	.hidden
		.modal.wide-modal#talep-olustur
			h1 Talep Oluştur
			.request-detail-info.centerfix
				figure
					img(src="http://via.placeholder.com/200x118")
				h3.title.title--1 Ford Fiesta
				p Talebiniz oluşturulduktan sonra bayilerden teklifler alacaksınız. Tekliflerinizi “Taleplerim” bölümünden takip edebilir, karşılaştırabilir ve teklif veren bayiler ile iletişime geçebilirsiniz. Talep şartları ve kuralları

			form.request-form.centerfix
				.form-item.has-label
					label Adet:
					input.select(name="quantity", type="number")
				.form-item
					textarea(placeholder="Mesajınız", name="message")
				.form-item
					input.button.button-normal.button-blue.button-big-text.button-block(type="submit", value="Gönder")


