extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.centerfix.flex-list
		.container
			.car-filter-wrapper
				.filter-item(data-qs="marka", data-selected="audi,bmw", data-data="{\"audi\":\"audi\",\"bentley\":\"bentley\",\"bmw\":\"bmw\",\"chrysler\":\"chrysler\",\"citroen\":\"citroen\",\"dacia\":\"dacia\",\"ferrari\":\"ferrari\",\"fiat\":\"fiat\",\"ford\":\"ford\",\"honda\":\"honda\"}")
					a(href="#") Marka
				.filter-item(data-endpoint="/model", data-selected="a1,a3" data-qs="model", data-data="{\"Audi\":[{\"a1\":\"A1\"},{\"a3\":\"A3\"},{\"a4\":\"A4\"},{\"a5\":\"A5\"},{\"a6\":\"A6\"},{\"q2\":\"Q2\"},{\"q3\":\"Q3\"},{\"q5\":\"Q5\"},{\"q7\":\"Q7\"},{\"r8\":\"R8\"}],\"Bentley\":[{\"bentayga\":\"Bentayga\"}],\"BMW\":[{\"1-serisi\":\"1 Serisi\"},{\"2-serisi\":\"2 Serisi\"},{\"3-serisi\":\"3 Serisi\"},{\"4-serisi\":\"4 Serisi\"},{\"5-serisi\":\"5 Serisi\"},{\"7-serisi\":\"7 Serisi\"},{\"x1\":\"X1\"},{\"x2\":\"X2\"},{\"x3\":\"X3\"},{\"x4\":\"X4\"},{\"x5\":\"X5\"},{\"x6\":\"X6\"}]}")
					a(href="#") Model
				.filter-item( data-qs="yakit-turu", data-data="{\"Benzin\":\"Benzin\",\"Dizel\":\"Dizel\",\"Hibrit\":\"Hibrit\",\"LPG\":\"LPG\"}")
					a(href="#") Yakıt Tipi
				.filter-item( data-qs="vites-turu", data-data="{\"Manuel\":\"Manuel\",\"Otomatik\":\"Otomatik\"}")
					a(href="#") Vites Tipi
				.filter-item(data-hasslide="true", data-selected="[10000,100000]")
					a(href="#") Bütçe

				a.button.button-primary#lets-search(href="#") Sonuçları Gör
				a.button.button-primary.button-reset#reset-search(href="#") Temizle

			.result-wrapper
				.product-list.row
					-for (var i = 0; i<16; i++)
						.product-item(class=(i==0 || i==1) ? "col-6 weight-item" : "col-3")
							a(href="arac-detay.html")
								figure
									img(src="http://via.placeholder.com/420x246")
								.name Audi A3
								.price 100.000 TL