extends layout/layout

block head
	- var title = "bensizalma.com | Haberler";
	- var description = "bensizalma.com | Haberler";
	- var keywords = "bensizalma.com | Haberler";

block content
	section.centerfix.page-image(style="background-image: url('"+prefix+"img/content/about-us/slide-img.jpg')")
		.container
			h1.page-title Sıkça Sorulan Sorular
	section.centerfix.static-page
		.container
			.faq-list
				h3.ask bensizalma kimdir?
					i.fa.fa-arrow-down
				.content
					p bensizalma sıfır araç alma sürecini basitleştiren ve fayda sağlamayı hedefliyor. Bizimle ilgili daha detaylı bilgiyi hakkımızda sayfasında bulabilirsiniz.
				h3.ask bensizalma hangi hizmetleri sunar?
					i.fa.fa-arrow-down
				.content
					p bensizalma yeni araç alımları hizmeti sunar.
				h3.ask bensizalma'nın sunduğu hizmetler ücretli midir?
					i.fa.fa-arrow-down
				.content
					p bensizalma'nın sunduğu hizmetler tamamen ücretsizdir.
				h3.ask Taleplerim ne kadar sürede cevaplanır?
					i.fa.fa-arrow-down
				.content
					p bensizalma talepleri 1 - 3 iş günü içerisinde tamamlamayı hedeflemektedir.
				h3.ask bensizalma ne vadediyor?
					i.fa.fa-arrow-down
				.content
					p bensizalma istediğiniz aracı satan yetkili satıcıların fiyatlarını temin edip mukayese ederek araç fiyatının olabilecek en iyi seviyede olmasını garanti altına almaya çalışır.
				h3.ask Kişisel bilgilerimin talep edilmesinin amacı nedir?
					i.fa.fa-arrow-down
				.content
					p bensizalma Ad, Soyad ve kimlik no, telefon email vb bilgileri talep sahibinin gerçekliğini garanti altına almak için kullanır.
					p Sizin için yetkili satıcılardan fiyat teklifi alırken Ad Soyad bilgileriniz paylaşılarak teklif talebiniz kaydedilmektedir.
					p Hiçbir banka yada kredi kartı bilgisi bensizalma aracılığı ile talep edilmemektedir. Detaylı bilgi için kullanıcı sözleşmesini inceleyebilirsiniz.
				h3.ask bensizalma'da görülen fiyat bilgileri aracın satış fiyatları mıdır?
					i.fa.fa-arrow-down
				.content
					p bensizalma da görülen fiyatlar araç markalarının kendi web sitelerinde de paylaştıkları tavsiye edilen satış fiyatlarıdır.
					p bensizalma yetkili satıcılardan sizin için alacağı fiyatları talebinizi oluşturduktan sonra sizinle paylaşmaktadır.
