extends layout/layout

block head
	- var title = "bensizalma.com | Hakkımızda";
	- var description = "bensizalma.com | Hakkımızda";
	- var keywords = "bensizalma.com | Hakkımızda";

block content
	section.centerfix.page-image(style="background-image: url('"+prefix+"img/content/about-us/slide-img.jpg')")
		.container
			h1.page-title Hakkımızda
	section.centerfix.static-page
		.container
			h2.title.title--1.title--space bensizalma.com
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.row
				.col-6.about-field
					i.fa.fa-clock
					h2 Zaman
				.col-6.about-field
					i.fa.fa-credit-card
					h2 Para
