extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";
	- var isHomePage = true;

block content
	section.main-slider.centerfix.flexslider.no-direction
		ul(class="slides centerfix")
			//li(class="centerfix" style="background-image: url('https://car-images.bauersecure.com/pagefiles/80091/900x360/audi_a7_2018_01.jpg?quality=100')")
			- for (var i = 0; i < 3; i++)
				li(class="centerfix" style="background-image: url(" + prefix + "img/content/homepage/slider-1.jpg)")
					.container
						h3.title 2017 Mini Cooper
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
						a(href="#" class="button button-primary") Daha fazla bilgi alın
	section.search-box
		.overlay
		.wrapper
			input(type="text", name="q", placeholder="Marka veya model arayın", autocomplete="off", id="searchInput")
			button(type="submit")
				img(src=prefix + "img/svg/ico_search.svg")
			ul.autocomplete-list
				li
					a(href="aaaa.html") aaaaaa
				li
					a(href="bbbb.html") bbbbbb
				li
					a(href="cccc.html") cccccc
				li
					a(href="dddd.html") dddddd



	section.centerfix.homepage-introduction
		.container
			.row
				.col-4
					.introduction-icon
						img(src=prefix + "img/svg/ico_arac.svg")
					span Aracınızı seçin
				.col-4
					.introduction-icon
						img(src=prefix + "img/svg/ico_talep.svg")
					span Talep oluşturun
				.col-4
					.introduction-icon
						img(src=prefix + "img/svg/ico_teklif.svg")
					span Avantajlı teklifler alın


	section(class="centerfix homepage-filo")
		.container
			h4(class="title title--1") Filonuzu kurmak için <br>teklif alın
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
			a(href="#" class="button button-primary") Daha fazla bilgi alın

	section(class="centerfix homepage-comments")
		.container
			h3.title.title--1.text-center <b>bensizalma</b>'yanların paylaşımları..

			.flexslider-col3.centerfix
				ul.slides
					li
						p "Benim aldığım fiyata göre çok daha iyi bir fiyat buldunuz, teşekkür ederim."

						p
							b Hüseyin Ç. / İstanbul

					li
						p "Ek bir araştırma yapmama gerek kalmadan çok kısa zamanda aracı nereden alacağıma karar verdim."

						p
							b Engin D. / Tekirdağ

					li
						p "Araç alırken bu kadar avantaj elde edebileceğim aklıma bile gelmemişti. Çok teşekkürler."

						p
							b Ayşe K. / İstanbul

					li
						p "Kendimi güvende ve emin ellerde hissettim. Profesyonel yaklaşım."

						p
							b Esra B. / Rize

					li
						p "Normalde bana yakın olan bir bayiden gidip aracımı alacakken sayenizde bir sürü alternatifim olduğunun farkına vardım. Nereden alacağıma da yine ben karar verdim. Çok keyifli."
						p
							b İbrahim U. / Antalya

					li
						p "Araç haricinde diğer ihtiyaçlarım için de keşke benzer hizmeti sunsanız."
						p
							b Sema K. / Bursa

					li
						p "Yeni araç aldığın anda değer kaybeder demişlerdi. Ama sizinle aldığım fiyat ile ikinci elde bile zarar etmem imkansız. Teşekkürler."
						p
							b Erdem Ç. / Ankara

					li
						p "Normalde bana yakın olan bir bayiden gidip aracımı alacakken sayenizde bir sürü alternatifim olduğunun farkına vardım. Nereden alacağıma da yine ben karar verdim. Çok keyifli."
						p
							b Alaattin U. / Samsun

					li
						p "Araç haricinde diğer ihtiyaçlarım için de keşke benzer hizmeti sunsanız."
						p
							b Emrah B. / Sivas


	section.centerfix.homepage-news
		.container
			.flexslider.centerfix
				ul.slides
					- for (var i = 0; i < 3; i++)
						li
							figure
								img(src="http://via.placeholder.com/423x260")
							article
								h4(class="title title--1") Haberler
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
								a(href="#" class="button button-primary") Devamını okuyun
