extends layout/layout

block head
	- var title = "bensizalma.com | Şifre Sıfırlama";
	- var description = "bensizalma.com | Hakkımızda";
	- var keywords = "bensizalma.com | Hakkımızda";

block content
	section.centerfix.page-image(style="background-image: url('"+prefix+"img/content/about-us/slide-img.jpg')")
		.container
			h1.page-title Şifre Sıfırlama
	section.centerfix.static-page
		.container
			form.password-change-form.validate-form(action="/sifre-degistirme")
				.form-item
					input(type="password", id="password", placeholder="Yeni şifreyi giriniz", data-rule-required="true")
				.form-item
					input(type="password", placeholder="Yeni şifreyi tekrar giriniz", data-rule-required="true", data-rule-equalto="#password")
				.form-item
					input.button.button-normal.button-blue.button-big-text.button-block(type="submit", value="Gönder")