extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.centerfix.content
		.container
			h1.title.title--2 Talep Detay

			.request-detail-info
				figure
					img(src="http://via.placeholder.com/200x118")
				h1.title.title--1 Ford Fiesta
				a.button.button-normal.button-blue.button-big-text(href="arac-detay.html") Araç detayı

			.centerfix
				h2.title.title--1 Teklifler
				p.p.result Araç talebiniz için verilen teklifler aşağıda listelenmiştir.

			ul.response-list.centefix
				li.head
					.cols Bayi Adı
					.cols Bölge
					.cols Temin Süresi
					.cols Teklif
					.cols İletişim
				-for (var i = 0; i < 5; i++)
					li
						.cols Poyraz Ford Bayii - <span>Aslı B.</span>
						.cols.city Rize
						.cols.time 1 hafta
						.cols.price 64.500₺
						.cols
							img(src=prefix + "img/svg/ico_telno.svg")
							| 0555 555 55 55