extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.centerfix.content
		.container
			h1.title.title--2 Taleplerim

			// Genel boş olan sayfalarda aşağıdaki alan kullanılabilir.
			.empty-page-info
				h1 Aktif talebiniz bulunmamaktadır.
				p Şimdi istediğiniz aracı seçip uygun fiyatları öğrenmek için
					a(href="/araclar") tıklayın.

			.row
				- for (var i = 0; i < 5; i++)
					if (i%2 == 1)
						.col-6.request-item
							.wrapper
								figure
									img(src="http://via.placeholder.com/140x140")
								.info
									a.more(data-toggle="req"+i)
										span
										span
										span
										.request-options(data-open="req"+i)
											a(href="#") Talebi düzenle
											a.delete(href="#", data-key=i) Talebi sil
									h3.title.title--3 Ford Fiesta
									p.options Renk: Beyaz
									span.price-info Teklifler tamamlandı <br />En uygun teklif:
									span.price 64.500₺
									a.button.button-second.button-blue(href="talep-detay.html") İncele
									a.request-options-delete(href="talep-detay.html") x
					else
						.col-6.request-item
							.wrapper
								figure
									img(src="http://via.placeholder.com/140x140")
								.info
									a.more(data-toggle="req"+i)
										span
										span
										span
										.request-options(data-open="req" + i)
											a(href="#") Talebi düzenle
											a.delete(href="#", data-key=i) Talebi sil
									h3.title.title--3 Ford Fiesta
									span.status.success
										i.fa.fa-check
										| Satıldı
									a.button.button-second.button-gray(href="talep-detay.html") İncele