extends layout/layout

block head
	- var title = "bensizalma.com | Haberler";
	- var description = "bensizalma.com | Haberler";
	- var keywords = "bensizalma.com | Haberler";

block content
	section.centerfix.page-image(style="background-image: url('"+prefix+"img/content/about-us/slide-img.jpg')")
		.container
			h1.page-title Haberler
	section.centerfix.static-page
		.container
			h2.title.title--1.title--space Haberler
			ul.news-list.centerfix
				li.centerfix
					a(href="#")
						figure
							img(src="http://via.placeholder.com/150x150")
						h3.title.title--4 Ford Fiesta
						p.p Ford fiesta 2018 tanıtıldı!
