/**
    Araç detay css
 */
.car-detail {
    .image-gallery {
        position: relative;
        float: left;
        width: 550px;
        overflow: hidden;
        box-shadow: 0 8px 20px 0 rgba(37,51,98,0.50);
        border-radius: 20px;
        margin-right: 30px;

        .flex-control-nav {
            position: absolute;
            left: 15px;
            top: 15px;
            z-index: 99;

            a {
                border-color: $white;

                &.flex-active {
                    background-color: $white;
                }
            }
        }
    }

    .product-info {
        float: left;
        width: 300px;

        .price {
            font-weight: 900;
            font-size: 20px;
            color: $blue;
            margin-top: 5px;
            margin-bottom: 50px;
        }

        .color-title {
            margin-bottom: 10px;
        }

        .manshet {
            display: block;
            margin-bottom: 20px;
            font-size: 20px;
            color: #454D54;
            letter-spacing: -0.6px;
            font-weight: 900;
        }

        .button {
            width: 100%;
        }
    }

    .product-description {
        margin: 50px 0;

        .spec-list {
            margin-top: 20px;

            li {
                float: left;
                width: 100%;
                line-height: 50px;
                font-size: 14px;

                &.head {
                    font-weight: 900;
                    font-size: 12px;
                    color: #A7B8BC;
                }

                &:not(.head):nth-child(2n) {
                    background-color: #F1F4F6;
                    border-radius: 12px;
                }

                .cols {
                    float: left;
                    padding: 0 15px;

                    &:nth-child(1) { width: 10% }
                    &:nth-child(2) { width: 50%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap }
                    &:nth-child(3) { width: 25% }
                    &:nth-child(4) { width: 15% }
                    //&:nth-child(5) { width: 14% }
                    //&:nth-child(6) { width: 23% }

                    &.bold {
                        font-weight: 900;
                    }

                    .checkbox {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

.fix-request-button {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background: #b5c3d4;
    box-shadow: 0 8px 20px 0 rgba(37,51,98,0.50);
    z-index: 999;
    padding: 7px 0;
    display: none;

    .title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 600;

    }

    .price {
        float: left;
        color: $blue;
        font-weight: 900;
        font-size: 20px;
    }

    .button {
        float: right;
        margin-top: 10px;
        width: 260px;
    }

    &.active {
        display: block;
    }

}


.color-list {
    display: block;

    li {
        position: relative;
        float: left;
        width: 30px;
        height: 30px;
        border: 1px solid #979797;
        margin-right: 10px;
        border-radius: 50%;
        cursor: pointer;

        &:hover, &.selected {
            box-shadow: 0 0 5px #000;
            span {
                display: block;
            }
        }

        span {
            position: absolute;
            right: -68px;
            bottom: 150%;
            background: rgba(255,255,255,0.90);
            box-shadow: 0 8px 20px 0 rgba(37,51,98,0.50);
            border-radius: 20px;
            width: 165px;
            padding: 20px;
            z-index: 9;
            display: none;
            font-size: 12px;
            font-weight: 700;
            color: $blue;

            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border: 18px solid transparent;;
                border-top-color: rgba(255,255,255,1);
                bottom: -36px;
                right: 63px;
                z-index: -1;
            }
        }
    }
}