/**
    Anasayfa
 */

.homepage-introduction {
    padding: 100px 0 80px;
    text-align: center;

    .introduction-icon {
        display: inline-block;
        width: 146px;
        height: 146px;
        background-color: #A9DEF4;
        border-radius: 100%;
        line-height: 146px;
    }

    span {
        display: block;
        font-weight: 900;
        font-size: 24px;
        color: $blue;
        margin-top: 20px;
    }
}

.homepage-filo {
    padding: 60px 0;
    min-height: 360px;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.31);
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 900px;
        height: 305px;
        background: url("../img/filo.jpg") no-repeat;
        background-size: cover;
    }

    p {
        margin: 10px 0 50px;
        font-size: 14px;
        color: $blue;
    }
}

.homepage-comments {
    padding: 60px 0;
    min-height: 360px;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.31);
    overflow: hidden;
    text-align: center;

    .title {
        font-weight: 400;
    }

    .slides li {
        padding: 25px 15px 0;
    }

    .flex-direction-nav {
        display: none;
    }

    p {
        margin: 10px 0 50px;
        font-size: 14px;
        color: $blue;
    }
}

.homepage-news {
    padding: 60px 0;

    figure {
        float: left;
        width: 45%;

        img {
            max-width: 100%;
            border-radius: 7px;
        }
    }

    article {
        float: left;
        width: 55%;
        padding-left: 50px;

        p {
            font-size: 20px;
            min-height: 80px;
        }
        .button {
            margin-top: 35px;
        }
    }

    .flex-control-nav {
        z-index: 99;
        position: absolute;
        top: 100px;
        left: 51%;
    }

    .flex-direction-nav {
        @include center(false, true);
        width: 100%;
        left: 0;
        z-index: 99;

        li {
            position: absolute;
            top: -20px;
        }

        .flex-nav-prev {
            left: -40px;
        }

        .flex-nav-next {
            right: -40px;
        }
    }
}