/**
    Taleplerim css
 */
.request-item {
    margin-top: 20px;
    padding: 0 15px;

    .wrapper {
        @include centerfix;
        background-color: $white;
        box-shadow: 0 8px 20px 0 rgba(37,51,98,0.50);
        border-radius: 20px;
        padding: 10px;
    }

    figure {
        float: left;
        border-radius: 20px;
        overflow: hidden;
        margin-right: 20px;
    }

    .info {
        position: relative;
        float: left;
        height: 140px;
        width: 245px;

        .title {
            padding-right: 20px;
        }

        .options {
            font-size: 12px;
            color: $blue;
            margin: 5px 0;
        }

        .price {
            position: absolute;
            left: 0;
            bottom: 0;
            font-size: 30px;
            font-weight: 900;
            color: $blue;
        }

        .status {
            position: absolute;
            left: 0;
            bottom: 10px;
            font-weight: 900;
            font-size: 12px;
            color: #A7B8BC;
            width: 50%;

            &.success {
                left: -160px;
                width: 140px;
                text-align: center;
                font-size: 20px;
                color: green;

                i {
                    margin-right: 5px;
                }
            }
        }

        .price-info {
            position: absolute;
            bottom: 40px;
            left: 0;
            font-weight: 900;
            font-size: 12px;
            color: $blue_light;
        }

        .button {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .more {
            position: absolute;
            right: 5px;
            top: 0;
            width: 5px;
            padding: 6px 5px;

            span {
                float: left;
                width: 5px;
                height: 5px;
                background-color: $blue_light;
                border-radius: 50%;
                margin-bottom: 3px;
                vertical-align: top;
            }
        }

        .request-options-delete {
            position: absolute;
            right: 0;
            top: 2px;
            font-size: 27px;
            color: red;
            opacity: .8;
            line-height: 15px;
            font-weight: 700;
        }
    }
}


/**
    Detay
 */
.request-detail-info {
    margin: 40px 0;

    figure {
        float: left;
        margin-right: 20px;

        img {
            max-width: 100%;
            border-radius: 10px;
        }
    }

    h1 {
        height: 80px;
        width: 660px;
    }

    .button {
        display: inline-block;
        min-width: 260px;
        text-align: center;
    }

    .result {
        margin-top: 10px;
        font-size: 14px;
    }
}

.response-list {
    li {
        float: left;
        width: 100%;
        line-height: 50px;


        &.head {
            font-weight: 900;
            font-size: 12px;
            color: #A7B8BC;
        }
        &:not(.head) {
            background-color: $white;
            box-shadow: 0 8px 20px 0 rgba(37,51,98,0.50);
            border-radius: 25px;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .cols {
            float: left;
            padding: 0 15px;

            span {
                font-weight: 300;
            }

            &:nth-child(1) { width: 35% }
            &:nth-child(2) { width: 14% }
            &:nth-child(3) { width: 14% }
            &:nth-child(4) { width: 14% }
            &:nth-child(5) { width: 23% }

            &.price {
                color: $blue_light;
                font-size: 20px;
            }

            img {
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}