/**
    static page css
 */
.page-image {
    background-position: top center;
    background-repeat: no-repeat;
    height: 200px;
    color: $white;
    text-align: center;

    .container {
        height: 100%;
    }

    h1.page-title {
        @include center(false, true);
        font-size: 50px;
        font-weight: 900;
    }
}

.static-page {
    font-size: 14px;
    color: $blue;
    padding: 50px 0;
}

.news-list {
    li {
        padding: 10px 0;
        border-bottom: 1px solid #e0e0e0;

        figure {
            float: left;
            margin-right: 15px;

            img {
                max-width: 100px;
            }
        }
    }
}

.about-field {
    text-align: center;
    margin: 50px 0;

    i {
        font-size: 72px;
        margin-bottom: 10px;
    }

    h2 {
        font-weight: 400;
        font-size: 18px;
    }
}


.faq-list {
    .ask {
        position: relative;
        display: block;
        width: 100%;
        padding: 10px 40px 10px 10px;
        font-size: 14px;
        border: 1px solid #e0e0e0;
        cursor: pointer;
        margin-bottom: 20px;

        i {
            @include center(false, true);
            right: 10px;
        }
    }

    .content {
        padding: 0 10px 20px;
        display: none;
    }
}