/**
    Filter css
 */
.car-filter-wrapper {
    position: relative;
    float: left;
    width: 260px;
    padding: 20px 20px 20px 0;

    &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 1920px;
        height: 100%;
        background: #b3c3d5;
        z-index: -1;
    }

    .filter-item {
        position: relative;
        display: inline-block;
        width: 100%;
        line-height: 30px;
        font-size: 14px;
        font-weight: 400;
        color: $blue;
        vertical-align: top;
        border: 1px solid $blue;
        border-radius: 25px;
        margin-bottom: 10px;

        &.disabled {
            //opacity: 0.5;
        }

        &.filled {
            line-height: 20px;
            background-color: $blue;

            > a {
                display: block;
                line-height: 30px;
                color: $white;
                font-weight: 700;
                padding-left: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        a {
            display: block;
            padding-left: 15px;
            color: $blue;
        }

        .filter-wrapper {
            position: absolute;
            left: 110%;
            top: -24px;
            background: rgba(255,255,255,0.97);
            box-shadow: 0 8px 20px 0 rgba(37,51,98,0.50);
            border-radius: 20px;
            width: 346px;
            padding: 20px;
            z-index: 99;
            min-height: 150px;

            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border: 18px solid transparent;
                border-right-color: rgba(255,255,255,0.97);
                top: 20px;
                left: -36px;
            }

            .apply {
                position: absolute;
                right: 20px;
                bottom: 20px;
                font-weight: 900;
                color: $blue;
                font-size: 16px;
            }

            .cancel {
                position: absolute;
                left: 20px;
                bottom: 20px;
                font-weight: 300;
                color: $blue;
                font-size: 16px;
            }

            .list {
                float: left;
                width: 100%;
                max-height: 400px;
                overflow: auto;
                margin-bottom: 40px;

                a {
                    position: relative;
                    display: block;
                    padding-left: 28px;
                    font-weight: 600;
                    font-size: 14px;
                    color: $blue;
                    line-height: 40px;

                    i {
                        position: absolute;
                        left: 0;
                        top: 0;
                        line-height: 40px;
                    }
                }
            }

            .slider {
                position: relative;
                float: left;
                height: 3px;
                width: 280px;
                background: #A7B8BC;
                margin-top: 20px;

                .ui-slider-range {
                    position: absolute;
                    background: #1061A0;
                    height: 100%;
                }

                .ui-slider-handle {
                    border: 3px solid #1061A0;
                    background: #A9DEF4;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: -15px;
                    border-radius: 50%;
                }
            }

            .amount {
                display: block;
                margin: 40px 0;
                text-align: center;
                font-weight: 700;
                font-size: 16px;
            }
        }
    }

    .button-primary {
        min-width: 100%;
    }
}

.result-wrapper {
    float: left;
    width: 620px;
    padding-left: 20px;
}