/**
    Anasayfa main slider
 */

.main-slider {
    height: 640px;

    .slides {
        height: 100%;

        li {
            height: 100%;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.3);
            }

            .container {
                margin-top: 100px;
            }

            .title {
                display: block;
                font-weight: 900;
                font-size: 50px;
                color: $white;
            }

            p {
                font-size: 20px;
                color: $white;
                min-height: 60px;
            }
        }
    }
    .flex-control-nav {
        position: absolute;
        left: 50%;
        top: 300px;
        z-index: 999;
        margin-left: -($grid_width/2);

        a {
            border-color: $white;

            &.flex-active {
                background-color: $white;
            }
        }
    }
}