/*Modal*/
.modal {
    width: 480px;
    font-size: 16px;
    overflow: hidden;

    &.wide-modal {
        width: 780px;
    }

    h1 {
        display: block;
        font-weight: 900;
        font-size: 24px;
        color: $blue;
        margin-bottom: 30px;
    }

    .birtday-title {
        display: block;
        font-weight: 700;
        color: $blue;
        margin-bottom: 8px;
    }
}

#talep-olustur {
    font-size: 14px;

    .request-detail-info {
        margin: 0 0 20px 0;
    }
}

