/**
    Product item css
 */

.product-item {
    padding: 0 10px;
    margin-bottom: 20px;

    figure {
        margin-bottom: 5px;

        img {
            display: inline-block;
            width: 100%;
            box-shadow: 0 8px 20px 0 rgba(37,51,98,0.50);
            border-radius: 20px;
        }
    }

    .name {
        font-weight: 400;
        color: $blue;
        font-size: 16px;
    }
    .price {
        font-weight: 700;
        color: $blue;
        font-size: 13px;
    }

    &.weight-item {
        margin-bottom: 40px;

        .name {
            font-size: 20px;
        }
        .price {
            font-size: 16px;
        }
    }
}

.product-list {
    margin: 30px -10px;
}