/**
    Anasayfa search box css
 */
.search-box {
    @include center(true, false);
    top: 400px;
    width: 550px;
    height: 80px;
    background-color: $white;
    border-radius: 20px;
    z-index: 99;
    transition: all $animation_speed $animation_easing;

    .wrapper {
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        background: $white;
        z-index: 12;
    }

    &.focus {
        transform: translate(-50%, -280px);

        .overlay {
            display: block;
        }

        .autocomplete-list:not(.hidden) {
            display: block;
        }
    }

    input {
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 24px;
        padding: 25px;
        z-index: 12;
    }

    .overlay {
        position: fixed;
        left: -100vw;
        top: -100vh;
        right: -100vw;
        bottom: -100vh;
        background-color: $blue;
        opacity: .66;
        z-index: 11;
        display: none;
    }

    button {
        @include center(false, false);
        top: 30px;
        right: 25px;
        border: none;
        padding: 0;
        z-index: 12;
    }

    .autocomplete-list {
        border-top: 1px solid #A7B8BC;
        margin: 0 25px 25px;
        display: none;

        li {
            display: block;

            &.active {
                a {
                    font-weight: 600;
                }
            }

            a {
                display: block;
                font-size: 24px;
                color: #1061A0;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 60px;
            }
        }
    }
}