- var prefix = "/output/public/dist/"
<!DOCTYPE html>
html
	head
		block head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title= title
		meta(name="description", content=description ? description : "")
		meta(name="keywords", content=keywords ? keywords : "")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="theme-color", content="#ffffff")
		meta(name="format-detection", content="telephone=no")
		link(rel="shortcut icon", type="image/x-icon", href="assets/dist/img/favicon/favicon.ico")
		// link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")
		// link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")
		// link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
		link(rel="stylesheet", href=prefix + "css/style.css")

	body
		<!-- header begin here -->
		header.header(class= isHomePage ? "homepage" : "")
			.container
				a(href="index.html" class="header-logo")
					h1 bensizalma.com

				nav.header-nav
					ul
						li
							a(href="arac-liste.html" title="Araçlar") Araçlar
						li
							a(href="#" title="Fırsatlar") Fırsatlar
						li
							a(href="#" title="Haberler") Haberler
						li
							a(href="#" title="Yardım") Yardım
						li.login
							a(href="#" title="Giriş Yap", data-toggle="login")
								img(src=prefix + "img/svg/ico_login.svg")
								| Giriş Yap
							.login-area(data-open="login")
								a.button.button-normal.button-fb.button-space(href="#")
									i.fa.fa-facebook
									| Facebook ile giriş yapın

								a.button.button-normal.button-google.button-space(href="#")
									i.fa.fa-google
									| Google ile giriş yapın

								.split
									span veya

								form.login-form.validate-form
									.form-item
										input(type="text", name="email", placeholder="E-mail", data-rule-required="true", data-rule-email="true")
									.form-item
										input(type="password", name="password", placeholder="Şifre", data-rule-required="true")
									.form-item
										input.button.button-normal.button-blue.button-block(type="submit", value="Gönder")

								.form-item.forgot-password
									a.default-link(href="#sifremi-unuttum") Şifremi unuttum

								.form-item.signin-block Hesabınız yok mu?
									a.default-link(href="#kayit-ol") Kaydolun

		<!-- header end here -->

		<!-- main content begin here -->
		main.main.centerfix
			block content

		<!-- footer begin here -->
		footer.footer.centerfix
			.container
				a(href="index.html" class="footer-copyright") Ⓒ Bensizalma

				ul(class="footer-social")
					li
						a(href="#" title="bensizalma.com youtube")
							img(src=prefix + "img/svg/ico_social_youtube.svg")
					li
						a(href="#" title="bensizalma.com instagram")
							img(src=prefix + "img/svg/ico_social_insagram.svg")
					li
						a(href="#" title="bensizalma.com facebook")
							img(src=prefix + "img/svg/ico_social_facebook.svg")
					li
						a(href="#" title="bensizalma.com twitter")
							img(src=prefix + "img/svg/ico_social_twitter.svg")


		<!-- footer end here -->

		<!-- Kayıt ol popup -->
		.hidden
			.modal#kayit-ol
				h1 Kayıt Ol
				p
					a.default-link.default-link-big(href="#") Facebook&nbsp;
					| veya&nbsp;
					a.default-link.default-link-big(href="#") Google&nbsp;
					| ile kaydolun
				.split
					span veya

				form.signin-form.validate-form
					.form-item
						input(type="text", placeholder="E-mail", name="email", data-rule-required="true" data-rule-email="true")
					.form-item
						input(type="text", placeholder="Ad", name="name", data-rule-required="true")
					.form-item
						input(type="text", placeholder="Soyad", name="surname", data-rule-required="true")
					.form-item
						input(type="text", placeholder="T.C. Kimlik No.", name="tc", maxlength="11", data-rule-required="true")
					.form-item
						input(type="text", placeholder="Telefon Numarası", name="phone", maxlength="11", data-rule-required="true")
					.form-item
						input(type="password", placeholder="Şifre oluştur", name="password", data-rule-required="true")
					span.birtday-title Doğum günü
					.select-item.form-item
						.select
							select(name="day")
								option(value="") Gün
								-for (var i = 1; i<30; i++)
									option(value=i)= i
						.select
							select(name="day")
								option(value="") Ay
								-for (var i = 1; i<13; i++)
									option(value=i)= i
						.select
							select(name="day")
								option(value="") Yıl
								-for (var i = 1950; i<2000; i++)
									option(value=i)= i
					.form-item
						label.checkbox-label
							.checkbox
								input(type="checkbox", name="agreement" data-rule-required="true")
								span
							| <a href="#" class="default-link default-link-big">Kullanıcı sözleşmesi</a>’ni okudum, kabul ediyorum.

					.form-item
						input.button.button-normal.button-blue.button-block(type="submit", value="Kaydol")


		<!-- İletişim popup -->
		.hidden
			.modal#iletisim
				h1 İletişim
				form.contact-form.validate-form(action="/contact-form", data-endpoint="/contact-form")
					.form-item
						input(type="text", placeholder="E-mail", data-rule-required="true" data-rule-email="true")
					.form-item
						input(type="text", placeholder="Ad", data-rule-required="true")
					.form-item
						input(type="text", placeholder="Soyad", data-rule-required="true")
					.form-item
						textarea(placeholder="Mesajınız\n asdfasdf asdf asdfasdf", data-rule-required="true")
					.form-item
						input.button.button-normal.button-blue.button-big-text.button-block(type="submit", value="Gönder")

		<!-- Şifremi unuttum popup -->
		.hidden
			.modal#sifremi-unuttum
				h1 Şifremi Unuttum
				form.contact-form.validate-form(data-success-msg="Şifre yenileme maili başarıyla gönderildi.", data-endpoint="/forgot-password")
					.form-item
						input(type="text", data-rule-required="true" data-rule-email="true", name="email" placeholder="E-mail")
					.form-item
						input.button.button-normal.button-blue.button-big-text.button-block(type="submit", value="Şifre oluştur")

		script.
			var root = "http://167.99.105.60/bensizalma/current/web";
		script(type="text/javascript", src=prefix + "js/bundle.js")
		block scripts