/**
    Footer css
 */

.footer {
    height: 80px;
    background-color: #e2e8e9;
    z-index: 5;

    .footer-copyright {
        float: left;
        line-height: 80px;
        font-size: 20px;
        color: #000024;
    }

    .footer-social {
        float: right;
        margin: 20px 0;

        li {
            float: left;
            margin-left: 40px;
        }
    }
}