/**
    Header css
 */

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 5;

    &.homepage {
        background-color: rgba(255,255,255,.5);
    }
    &:not(.homepage) {
        background-image: linear-gradient(-219deg, $blue 0%, #1061A0 100%);

        + .main {
            margin-top: 50px;
        }
    }

    .header-logo {
        float: left;
        line-height: 50px;

        h1 {
            font-size: 30px;
            color: $white;
            font-weight: 900;
        }
    }

    .header-nav {
        float: right;
        margin: 13px 0;

        ul {
            li {
                position: relative;
                float: left;
                margin-left: 20px;

                &.login {
                    a {
                        font-weight: 700;

                        img {
                            margin-right: 7px;
                        }
                    }
                }

                > a {
                    font-weight: 400;
                    font-size: 16px;
                    color: $white;
                }
            }
        }
    }

    .login-area {
        position: absolute;
        right: 0;
        top: 60px;
        background: rgba(255,255,255,0.97);
        box-shadow: 0 8px 20px 0 rgba(37,51,98,0.50);
        border-radius: 20px;
        width: 306px;
        padding: 20px;

        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: 18px solid transparent;;
            border-bottom-color: rgba(255,255,255,0.97);
            top: -36px;
            right: 70px;
        }

        input[type="submit"] {
            font-size: 16px;
        }

        .forgot-password {
            display: block;
            text-align: center;
            border-bottom: 1px solid rgba(37,51,98,0.33);
            padding-bottom: 20px;
        }
        .signin-block {
            text-align: center;
            font-size: 12px;
            color: $blue;
        }
    }
}