.centerfix {
    @include centerfix;
}

.main {
    min-height: 600px;
    z-index: 4;
}

.content {
    padding: 40px 0;
}

.p {
    font-size: 12px;
    color: $blue;
}

.default-link {
    font-weight: 700;
    font-size: 12px;
    color: #1061A0;

    &-big {
        font-size: 16px;
    }
}

.split {
    position: relative;
    display: block;
    text-align: center;
    margin: 20px 0;

    &:before, &:after {
        content: "";
        position: absolute;
        top: 10px;
        width: 40%;
        border-bottom: 1px solid $blue;
    }

    &:before {
        right: 60%;
    }

    &:after {
        left: 60%;
    }

    span {
        font-weight: 400;
        font-size: 12px;
        color: #3D3D3D;
    }
}

[data-open]:not(.active) {
    display: none;
}

.flex-list .container {
    display: flex;
    min-height: 100%;
    .car-filter-wrapper, .product-list{
        flex: 1;
    }
}