/*Custom checkbox and radio css*/
.checkbox-label {
	line-height: 20px;
}
.checkbox {
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	border: 2px solid #1061A0;
	border-radius: 6px;
	margin-right: 10px;

	input{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		margin: 0;
    	cursor: pointer;

		&:checked + span {
			display: block;
		}
	}
	span {
		margin: 3px;
		width: 10px;
		height: 7px;
		border-radius: 2px;
		display: none;
		border-left: 2px solid #1061A0;
		border-bottom: 2px solid #1061A0;
		transform: rotate(-55deg);
	}
}

/*Custom select*/
$height: 40px;
//
//.select {
//	position: relative;
//	float: left;
//	width: 150px;
//	height: $height;
//	border: 1px solid #ccc;
//
//	&::after {
//		content: "";
//		position: absolute;
//		top: 50%;
//		margin-top: -3px;
//		right: 15px;
//		border: 6px solid;
//		border-color: #000 transparent transparent;
//		z-index: -1;
//	}
//
//	&.open:after{
//		border-color: transparent transparent #000;
//		margin-top: -10px;
//	}
//
//	select {
//		position: absolute;
//		left: 0;
//		top: 0;
//		width: 100%;
//		height: 100%;
//		opacity: 0;
//
//		option {
//			font-size: 16px;
//			color: #000;
//			padding: 10px 5px;
//		}
//	}
//
//	&::before {
//		content: attr(value);
//		display: block;
//		width: 100%;
//		line-height: $height;
//		padding: 0 10px;
//		font-size: 14px;
//	}
//}