/*Form css*/
.form-item {
	display: block;
	margin-bottom: 20px;

	input[type="text"], input[type="password"] {
		display: block;
		width: 100%;
		border-radius: 100px;
		height: 40px;
		outline: none;
		border: 1px solid #A7B8BC;
		padding: 0 20px;
		font-weight: 700;
		font-size: 12px;
		color: #3D3D3D;
	}

	textarea {
		display: block;
		width: 100%;
		border-radius: 20px;
		height: 100px;
		outline: none;
		border: 1px solid #A7B8BC;
		padding: 10px 20px;
		font-weight: 700;
		font-size: 12px;
		color: #3D3D3D;
	}

	.error {
		border-color: red !important;
	}
}

.select-item {
	display: block;
	width: 100%;
	border-radius: 100px;
	height: 40px;
	outline: none;
	border: 1px solid #A7B8BC;
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	color: #3D3D3D;
	background: $white;

	label {
		float: left;
		line-height: 40px;
	}

	.select {
		position: relative;
		float: left;
		width: 33.333%;

		&:not(:last-child) {
			border-right: 2px solid #A7B8BC;
		}

		select {
			width: 100%;
			-webkit-appearance: none;
			height: 38px;
			border: none;
			background: transparent;
			outline: none;
			font-size: 12px;
			color: #A7B8BC;
			font-weight: 700;
		}
	}
}

.signin-form {
	.form-item {
		margin-bottom: 15px;
	}
}