@import "variable";

/*
* Project mixins
*/

@mixin centerfix {
  position: relative;
  float: left;
  width: 100%;
}

@mixin centercontent {
	width: 100%;
	max-width: $small_desktop;
	padding: 0px 15px;
	margin: 0 auto;
	position: relative;
}

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin breakpoint($width) {
  @media only screen and (max-width:$width){
    @content;
  }
}