/*Title css*/
.title {
	display: inline-block;

	&--1 {
		font-size: 30px;
		color: $blue;
		font-weight: 900;
	}

	&--2 {
		font-size: 50px;
		color: $blue;
		font-weight: 900;
	}

	&--3 {
		font-size: 20px;
		color: $blue;
		font-weight: 700;
	}

	&--4 {
		font-size: 16px;
		color: $blue;
		font-weight: 900;
	}

	&--space {
		margin-bottom: 20px;
	}
}