/*
* Font global variable
*/
$font_primary: 'Open Sans', sans-serif;
;

/*
* Color global variable
*/
$black 						: #000;
$white						: #fff;
$blue                       : #253362;
$blue_light                 : #01B3E3;

/*Reset.scss'teki a color */
$default_link_color: #759cb1;

/*Reset.scss'teki Input font*/
$input_font: $font_primary;

/*
* Media query size variable
*/
$grid_width 	: 880px;
$tablet			: 990px;
$phablet		: 767px;
$mobile			: 480px;

/*
* Animate delay
*/
$animation_speed: .5s;
$animation_easing: ease;